
body{
    margin-right: 200px; 
    margin-left: 200px;
    border-top: 10px solid darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    padding: 10px 20px; /*espaçamento interno*/
    justify-content: space-between; /*espaço entre logo e links */
    align-items: center; /*alinha linhas nas verticais */
}
nav{
    text-align: right;
}
a:link, a:visited{
    display: inline-block;
    padding: 10px 20px;
    background-color: lightblue;
    color:blue;
    text-align: center;
    text-decoration: none;
}
a:hover{
    background-color: lightblue;
    color: darkblue;
    text-decoration: underline;
}
article{
    display: flex;
    justify-content: center;
    background-color: lightblue;
}
section {
    box-sizing: border-box;
    text-align: left;
}
input,textarea{
    padding-left: 2px;
    vertical-align: top;
    text-align: left; 
}
footer{
    text-align:center;
}